﻿@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@

<style>
    .th {
        width: 250px !important;
    }
</style>
<!DOCTYPE HTML>
<head>
    <title>Điện máy Trường Hoa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript" src="js/startstop-slider.js"></script>

    <style>
        .dropbtn {
            background-color: white;
            color: black;
            padding: 10px 0 10px 0;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 120px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                float: none;
                color: black;
                height: 25px;
                padding:5px 12px 0 12px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: gray;
        }

        .call {
            padding: 10px 0 10px 0;
        }

        .cart {
            padding: unset;
            margin-top: 40px;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="headertop_desc">
                <div class="call">
                    <p><span>Cần hỗ trợ?</span> gọi chúng tôi <span class="number">  038 203 9666</span></p>
                </div>
                <div class="account_desc">
                    <ul>
                        @{
                            if (Session["idUser"] != null)
                            {
                                if (Session["Admin"] != null)
                                {
                                    <li>Chào mừng @Session["Fullname"]</li>


                                    <li><a href="~/Admin/HomeAdmin/Index">Trang quản trị</a></li>


                                    <li><a href="~/Home/Logout" class="btn btn-warning">Đăng xuất</a></li>
                                }
                                else
                                {
                                    <li class="dropdown">
                                        <button style="width:120px" class="dropbtn">Tài khoản</button>
                                        <div class="dropdown-content">
                                            <hr />
                                            <a href="~/Home/Infor/@Session["idUser"]">Thông tin</a>
                                            <hr />
                                            <a href="~/Home/ChangePassword/@Session["idUser"]">Đổi mật khẩu</a>
                                            <hr />
                                            <a href="~/Home/Logout" >Đăng xuất</a>
                                        </div>
                                    </li>
                                    <li style="padding:0 0 0 10px">Welcome @Session["Fullname"]</li>
                                }
                            }
                            else
                            {
                                <li><a href="~/Home/Register">Đăng kí</a></li>
                                <li><a href="~/Home/Login">Đăng nhập</a></li>
                            }
                        }
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="header_top">
                <div class="logo">
                    <a href="~/Home/Index"><img src="~/Content/images/truonghoa.png" alt="" /></a>
                </div>
                <div class="cart">
                    <p class="th">
                        Điện máy Trường Hoa! <a href="@Url.Action("Index", "Cart" )" ><img style="width:8%" src="~/Content/images/cart.jpg" />:  </a>
                            @Session["count"] sản phẩm
                            
                        
                    </p>
                </div>
                <script type="text/javascript">
                    function DropDown(el) {
                        this.dd = el;
                        this.initEvents();
                    }
                    DropDown.prototype = {
                        initEvents: function () {
                            var obj = this;

                            obj.dd.on('click', function (event) {
                                $(this).toggleClass('active');
                                event.stopPropagation();
                            });
                        }
                    }

                    $(function () {

                        var dd = new DropDown($('#dd'));

                        $(document).click(function () {
                            // all dropdowns
                            $('.wrapper-dropdown-2').removeClass('active');
                        });

                    });

                </script>
                <div class="clear"></div>
            </div>
            
            
        </div>
        @RenderBody()
        <div class="main">
            
        </div>
    </div>
    <div class="footer">
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Thông tin</h4>
                    <ul>
                        <li><a href="~/About/Index">Trường Hoa</a></li>
                        <li><a href="~/Contact/Index">Chăm sóc khách hàng</a></li>

                        <li><a href="~/Contact/Index">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Tại sao nên mua?</h4>
                    <ul>
                        <li><a href="~/About/Index">Thông tin về chúng tôi</a></li>
                        <li><a href="~/Contact/Index">Dịch vụ chăm sóc khách hàng</a></li>
           
                        <li><a href="~/Contact/Index">Bản đồ</a></li>
                        
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Tài khoản</h4>
                    <ul>
                        <li><a href="~/Home/Login">Đăng nhập</a></li>
                        <li><a href="~/Cart/Index">Giỏ hàng</a></li>
                        <li><a href="~/Contact/Index">Trợ giúp</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Liên hệ</h4>
                    <ul>
                        <li><span>0204 388 015</span></li>
                        <li><span>038 203 9666</span></li>
                        
                    </ul>
                    <div class="social-icons">
                        <h4>Theo dõi</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=100083009238439" target="_blank"><img src="~/Content/images/facebook.png" alt="" /></a></li>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy_right">
            <p> Cửa hàng điện máy Trường Hoa</p>
        </div>
    </div>
    
</body>


