﻿@model IEnumerable<OnlineShop.Models.Cart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .button {
        background-color:crimson;
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .button3 {
        background-color:lawngreen;
    }
    #cart {
        background-color: crimson;
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
    }
    #non {
        background-color:gold;
        border: none;
        color: black;
        width: 70%;
        padding: 10px 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#removecart").click(function () {
            var model = {};
            model.Id = $("#productid").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Remove","Cart")',
                data: JSON.stringify(model),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    $("#CartCount").text(@Session["count"] - 1);
                    $("#product-" + model.Id).remove();
                },
                error: function () {
                    alert("Xóa sản phẩm không thành công")
                }
            });
            return false;
        });
    });
</script>
<h2 id="cart">Giỏ hàng</h2>
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <main class="col-md-9">
                <div class="card">

                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            
                        </thead>
                        <tbody>
                            @{
                                var sum = 0;
                            }
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr class="small text-uppercase">
                                        <th scope="col" width="400">Sản phẩm</th>
                                        <th scope="col" width="200">Số lượng</th>
                                        <th scope="col" width="200">Giá</th>
                                        <th scope="col" width="200">Tổng</th>
                                        <th scope="col" class="text-right" width="200"> </th>
                                    </tr>
                                    <tr id="product-@item.Product.Id">
                                        <td>
                                            <figure class="itemside">
                                                <div style="float:left" align="center">
                                                    @{
                                                        string ImagePath = "~/Content/images/" + item.Product.Avatar;
                                                    }
                                                    <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
                                                </div>
                                                <figcaption class="info">
                                                    <a href="~/Product/Index/@item.Product.Id" class="title text-dark">@item.Product.Name</a>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td align="center" width="50">
                                            <input type="text" value="@item.Quantity" />
                                        </td>
                                        <td align="center" width="200">
                                            <div class="price-wrap">
                                                @{
                                                    string tien = "";
                                                    int gia = (int)item.Product.Price;
                                                    tien = gia.ToString("#,##0");
                                                }
                                                <var class="price">@tien VND</var>
                                            </div> <!-- price-wrap .// -->
                                        </td>
                                        <td align="center">
                                            @{

                                                var sl = item.Quantity;
                                                var price = item.Product.Price;
                                                var total = sl * price;
                                                sum = (int)(sum + total);

                                            }
                                            <div class="price-wrap">
                                                @{
                                                    string tien1 = "";
                                                    int gia1 = (int)total;
                                                    tien = gia.ToString("#,##0");
                                                }
                                                <var class="price">@tien1 VND</var>
                                            </div> <!-- price-wrap .// -->
                                        </td>


                                        <td class="text-right">
                                            <input type="hidden" value="@item.Product.Id" id="productid" />
                                            <a href="" class="btn btn-default" id="removecart"> Xóa</a>
                                        </td>
                                    </tr>
                                }
                            }
                            



                        </tbody>
                    </table>
                    <br />
                    @if (Session["count"] != null)
                    {
                        <div class="card-body border-top">
                            <button class="button button3"><a style="float:left" href="~/Home/Index" class="btn btn-light"> Tiếp tục mua sắm </a></button>
                            <div style="float:right">
                                <button class="button"><a style="float:right" href="~/Cart/Payment" class="btn btn-primary float-md-right"> Thanh toán MoMo <i class="fa fa-chevron-right"></i> </a></button>
                                <button class="button"><a style="float:right" href="~/Cart/PaymentCOD" class="btn btn-danger float-md-right"> Thanh toán trực tiếp <i class="fa fa-chevron-right"></i> </a></button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card-body border-top">
                            <button style="float:right" class="button button3"><a style="float:left" href="~/Home/Index" class="btn btn-light"> Tiếp tục mua sắm </a></button>
                            <div>
                                <div id="non">Không có sản phẩm trong giỏ hàng</div>
                            </div>
                        </div>
                    }
                </div> <!-- card.// -->

                

            </main> <!-- col.// -->
            <br />
            <br />
            <aside class="col-md-3">
                
                <div class="card">
                    <div class="card-body">
                        
                        <dl class="dlist-align">
                            @{ 
                                string tt = "";
                                tt = sum.ToString("#,##0");
                            }
                            <dt>Thành tiền: <span style="color:red">@tt VND</span></dt>
                            <dd class="text-right  h5"><strong></strong></dd>
                        </dl>
                        <hr>
                        

                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
            </aside> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>