﻿@model OnlineShop.Models.ProductDetailModel
@{
    ViewBag.Title = "Index";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#addtocart").click(function () {
            var model = {};
            model.Id = @Model.objProduct.Id;
            model.Quantity = $("#ipQuantity").val();
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart") ',
                data: JSON.stringify(model),
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function () {
                    alert("Thêm giỏ hàng thành công!");
                    $("#CartCount").text(@Session["count"] + 1);
                },
                error: function () {
                    alert("Lỗi khi thêm vào giỏ hàng!");
                }
            });
            return false;
        });
    });
</script>
<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="back-links">
                <p><a href="~/Home/Index">Home</a> >>>> @Model.objProduct.Name</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div class="cont-desc span_1_of_2">
                <div style="display: flex " class="product-details">
                    <a style="width:60%" href="#" target="_blank">
                        <img src="~/Content/images/@Model.objProduct.Avatar" alt=" " />
                    </a>
                    @*<div class="grid images_3_of_2">
                            <div id="container">
                                <div id="products_example">
                                    <div id="products">
                                        <div class="slides_container">
                                            <a href="#" target="_blank"><img src="~/Content/images/productslide-1.jpg" alt=" " /></a>
                                            <a href="#" target="_blank"><img src="~/Content/images/productslide-2.jpg" alt=" " /></a>
                                            <a href="#" target="_blank"><img src="~/Content/images/productslide-3.jpg" alt=" " /></a>
                                            <a href="#" target="_blank"><img src="~/Content/images/productslide-4.jpg" alt=" " /></a>
                                            <a href="#" target="_blank"><img src="~/Content/images/productslide-5.jpg" alt=" " /></a>
                                            <a href="#" target="_blank"><img src="~/Content/images/productslide-6.jpg" alt=" " /></a>
                                        </div>
                                        <ul class="pagination">
                                            <li><a href="#"><img src="~/Content/images/thumbnailslide-1.jpg" alt=" " /></a></li>
                                            <li><a href="#"><img src="~/Content/images/thumbnailslide-2.jpg" alt=" " /></a></li>
                                            <li><a href="#"><img src="~/Content/images/thumbnailslide-3.jpg" alt=" " /></a></li>
                                            <li><a href="#"><img src="~/Content/images/thumbnailslide-4.jpg" alt=" " /></a></li>
                                            <li><a href="#"><img src="~/Content/images/thumbnailslide-5.jpg" alt=" " /></a></li>
                                            <li><a href="#"><img src="~/Content/images/thumbnailslide-6.jpg" alt=" " /></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                <div class="desc span_3_of_2">
                    <h2>@Model.objProduct.Name </h2>
                    <p>@Model.objProduct.ShortDes</p>
                    <div class="price">
                        @{
                            string tien = "";
                            int price = (int)Model.objProduct.Price;
                            tien = price.ToString("#,##0");
                        }
                        <p>
                            Giá: <span>@tien đ</span>
                        </p>
                    </div>
                    <div class="available">
                        <p>Lựa chọn :</p>
                        <ul>
                            <li>
                                Màu:
                                <select>
                                    <option>Bạc</option>
                                    <option>Đen</option>
                                    <option>Đỏ</option>
                                </select>
                            </li>
                            
                            

                        </ul>
                    </div>
                    Quantity:
                    <div class="form-group col-md flex-grow-0">
                        <div class="input-group mb-3 input-spinner">
                            <input width="50" type="text" id="ipQuantity" class="form-control" value="1">
                        </div>
                    </div>
                    <div class="share-desc">
                        <div class="share">
                            <p>Chia sẻ sản phẩm :</p>
                            <ul>
                                <li><a href="#"><img src="~/Content/images/facebook.png" alt="" /></a></li>
                            </ul>
                        </div>
                        <div class="form-row  mt-4">

                            <div class="form-group col-md">
                                <a href="#" id="addtocart" class="btn  btn-primary">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span class="button">Thêm vào giỏ hàng</span>
                                </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
                    <div class="clear"></div>
                </div>
                <div>

                    <p>@Model.objProduct.FullDescription</p>
                </div>
                @*<div class="product_desc">
                    <div id="horizontalTab">
                        <ul class="resp-tabs-list">
                            <li>Product Details</li>
                            <li>product Tags</li>
                            <li>Product Reviews</li>
                            <div class="clear"></div>
                        </ul>
                        <div class="resp-tabs-container">
                            <div class="product-desc">
                                <p>Lorem Ipsum is simply dummy text of the <span>printing and typesetting industry</span>. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <span>when an unknown printer took a galley of type and scrambled</span> it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<span> It has survived not only five centuries</span>, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            </div>

                            <div class="product-tags">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <h4>Add Your Tags:</h4>
                                <div class="input-box">
                                    <input type="text" value="">
                                </div>
                                <div class="button"><span><a href="#">Add Tags</a></span></div>
                            </div>

                            <div class="review">
                                <h4>Lorem ipsum Review by <a href="#">Finibus Bonorum</a></h4>
                                <ul>
                                    <li>Price :<a href="#"><img src="~/Content/images/price-rating.png" alt="" /></a></li>
                                    <li>Value :<a href="#"><img src="~/Content/images/value-rating.png" alt="" /></a></li>
                                    <li>Quality :<a href="#"><img src="~/Content/images/quality-rating.png" alt="" /></a></li>
                                </ul>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                <div class="your-review">
                                    <h3>How Do You Rate This Product?</h3>
                                    <p>Write Your Own Review?</p>
                                    <form>
                                        <div>
                                            <span><label>Nickname<span class="red">*</span></label></span>
                                            <span><input type="text" value=""></span>
                                        </div>
                                        <div>
                                            <span><label>Summary of Your Review<span class="red">*</span></label></span>
                                            <span><input type="text" value=""></span>
                                        </div>
                                        <div>
                                            <span><label>Review<span class="red">*</span></label></span>
                                            <span><textarea> </textarea></span>
                                        </div>
                                        <div>
                                            <span><input type="submit" value="SUBMIT REVIEW"></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                <script type="text/javascript">
$(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });</script>
                <div class="content_bottom">
                    <div class="heading">
                        <h3>Sản phẩm liên quan</h3>
                    </div>
                    <div class="see">
                        <p><a href="~/Home/AllProduct">Tất cả sản phẩm</a></p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="section group">
                    @foreach (var item in Model.ListProduct)
                    {
                        <div style="margin: 10px 10px 0 0;padding:12.1px" class="grid_1_of_4 images_1_of_4">
                            <a href="~/Product/Index/@item.Id"><img width="300" height="250" src="~/Content/images/@item.Avatar" alt=""></a>
                            <div class="price" style="border:none">
                                @*<div class="add-cart" style="float:none">
                                    <h4><a href="#">Add to Cart</a></h4>
                                </div>*@
                                <div class="clear"></div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="rightsidebar span_3_of_1">
                <h2>DANH MỤC</h2>
                <ul class="side-w3ls">
                    @foreach (var item in Model.ListCategory)
                    {
                        <li><a href="~/Category/ProductsCategory/@item.Id"> @item.Name</a></li>
                    }
                </ul>
                @*<div class="subscribe">
                    <h2>Newsletters Signup</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.......</p>
                    <div class="signup">
                        <form>
                            <input type="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';"><input type="submit" value="Sign up">
                        </form>
                    </div>
                </div>
                <div class="community-poll">
                    <h2>Community POll</h2>
                    <p>What is the main reason for you to purchase products online?</p>
                    <div class="poll">
                        <form>
                            <ul>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="1">
                                    <span class="label"><label>More convenient shipping and delivery </label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="2">
                                    <span class="label"><label for="vote_2">Lower price</label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="3">
                                    <span class="label"><label for="vote_3">Bigger choice</label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="5">
                                    <span class="label"><label for="vote_5">Payments security </label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="6">
                                    <span class="label"><label for="vote_6">30-day Money Back Guarantee </label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="7">
                                    <span class="label"><label for="vote_7">Other.</label></span>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>


